html{
  scroll-behavior:  smooth;
  margin: 0 auto;
  width: 70%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(216, 233, 248);
}

.zoekmenu {
border: solid 0.5px black;
padding: 1%;
background-color: #62beff ;
}
.zoekmenu a{
padding: 0.2%;
margin: 1%;
text-decoration: none;
color: black;
}
.headertekst
{
display: flex;
border-bottom: solid 0.5px black;
margin: 0 auto;
margin-top: 1%;
flex-direction: row;
width: 80%;
font-size: 120%;
background-image: url("img/Curio-Terheijdenseweg.jpg");
}
footer{
border-top: solid 0.5px black;
}

.intro{
width: 70%;
margin: 1% auto;
margin-bottom: 0px;
padding: 1%;
background-color: rgb(60, 171, 250,0.3);
border-style: solid;
border-radius: 10%;
border-color: #c0d3fd;
}

.intro h3{
font-weight:bold;
}

.intro p{
margin: 0% auto;
}


.intro h4{
margin-bottom: 0px;
margin: 0 auto;
}

body footer{
margin-top: 34%; 
}


.wrapper {
width: 950px;
}

.parent li{
font-weight:bold;
}

.parent {
display: flex;
}

.div{
padding-bottom: 18%;
border-bottom: solid 0.5px black;
}

.div3{
border: solid 0.5px black;
}

.rooster h4{
text-align: center;
}
.rooster img{
padding-bottom: 5%;
border-bottom: solid 0.5px black;
}
.vakanties h4{
text-align: center;
}
.vakanties img{
border-bottom: solid 0.5px black;
}

.versneldtekst{
padding-bottom: 5%;
border-bottom: solid 0.5px black;
}
.docenttekst{
text-align: center;
}

.huiswerk{
padding-bottom: 5%;
border-bottom: solid 0.5px black;
flex: end;
}


.parentfoto {
text-align: center;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
padding-bottom: 5%;;
background-color: rgba(129, 193, 239, 0.5);
border-radius: 10%;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.divbart { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 1 / 4 / 2; }
.div8 { grid-area: 3 / 2 / 4 / 3; }
.div9 { grid-area: 3 / 3 / 4 / 4; }

