html{
    scroll-behavior:  smooth;
    margin: 0 auto;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
  }

.zoekmenu {
  border-bottom: solid 0.5px black;
  padding: 1%;
}
.zoekmenu a{
  padding: 0.2%;
  margin: 1%;
  text-decoration: none;
  color: black;
}
.headertekst
{
  display: flex;
  border-bottom: solid 0.5px black;
  margin: 0 auto;
  margin-top: 1%;
  flex-direction: row;
  width: 80%;
  font-size: 120%;
}
footer{
  border-top: solid 0.5px black;
}

.intro{
  width: 70%;
  margin: 1% auto;
  margin-bottom: 0px;
  padding: 1%;
}

.intro h3{
  font-weight:bold;
}

.intro p{
  margin: 0% auto;
}


.intro h4{
  margin-bottom: 0px;
  margin: 0 auto;
}

body footer{
  margin-top: 34%; 
}

.wrapper {
  width: 950px;
}

.parent li{
  font-weight:bold;
}

.parent {
  display: flex;
}

.div{
  padding-bottom: 18%;
  border-bottom: solid 0.5px black;
}

.rooster p{
text-align: center;
}
.rooster img{
padding-bottom: 5%;
border-bottom: solid 0.5px black;
}
.vakanties p{
  text-align: center;
  }
.vakanties img{
  border-bottom: solid 0.5px black;
  }

.intro{
  border-bottom: solid 0.5px black;
}
.versneldtekst{
padding-bottom: 5%;
border-bottom: solid 0.5px black;
}
.docenttekst{
  text-align: center;
}

